
.mynav{
    background-color:rgb(4, 4, 75);
}

.nav-link {
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
}

.mylogo{
    color: white;
    font-family: Georgia, Times, 'Times New Roman', serif;
}
.mylogo:hover {
    color: white !important;
}
.mynav .navbar-nav .nav-item .nav-link.active {
    color: rgb(16, 97, 189) !important; }
    .mynav .navbar-nav .nav-item .nav-link:hover {
        color: #7e7e7e !important; }
.images {
    height: 350px;
}

.about{
     width: 80;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Times New Roman', serif;
    padding: 0px 100px;
}

.About-pg{
   
    background-color: rgba(194, 207, 245, 0.925);
    padding: 1%;
    color: black;
    
  }  
.img {
    width: 340px;
    height: 460px;
    display: flex;
    align-items: center;
    margin: 60px;
}

.card{
    border-style: solid;
    border-color: black;
    border: 1px solid black;
  
}
.card .card-img-1{
    border-style: solid;
    border-color: black;
    border: 1px solid black;
}

.card-body{
    border-style: solid;
    border-color: black;
    border: 1px solid black;
}

.logo {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: flex-start;
    margin: 5px;
}

.myslide {
    margin-bottom: 50px;
}
.admissionform {
    margin: 10%;
    padding: 5%;
    width: 80%;
    justify-content: center;
}
.form{
    font-family: 'Arial Narrow Bold', sans-serif;
}
.footer{
    width: 100%;
    height: 250px;
    background-color: rgb(3, 3, 43);
    color: white;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    font-family: 'Arial Narrow Bold';
    

}
.footer-col{
    width: 30%;
    color: white;
    padding: 0 25px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(3, 3, 43);
    background-color: white;
    margin: 0 10px 0;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    background-color: rgb(3, 3, 43);
    color: rgb(52, 112, 161);
}

.note{
    margin: 10%;
    padding: 2.5%;
    font-family: 'Arial Narrow Bold' ;
    background-color: rgb(3, 3, 43);
    color: white;
    display: flex;
    justify-content: flex-start;

}
.index {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    padding-right: 2px;
    margin: 1.5%;
}
.chairman{
    padding: 5%;
}
.show-requests {
    width: 80%;
    min-height: 450px;
    margin: 20px auto;
}

/* table css */
.request-table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    text-align: center;
}
.request-table th, .request-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
.request-table th {
    background-color: #f2f2f2;
    color: #333;
}
.request-table tr:nth-child(even) {
    background-color: #f9f9f9;
}
.request-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.request-table th, .request-table td {
    text-align: center;
}
.card-title{
    text-align: center;
    display: flex;
    justify-content: center;
    font-family: 'Arial Narrow Bold';
    color:  black;
    margin: 5%;
    padding: 0%;
}
.card-text{
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: black;
}
.heading{
    font-family: Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    background-color: rgb(4, 4, 75) ;
    color: white;
    margin: 5%;
    padding: 0%;

}

.mission{
    width: 80;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Times New Roman', serif;
    padding: 0px 100px;
}

.mission h2{
    width: 40%;
}

.mission p{
    width: 90%;
}

.footer-col ul li {
    list-style: none;
    color: white;
    text-decoration: none;
}

.footer-col ul li a{
    color: white;
    text-decoration: none;
}





/* extra css remove from htm */

body{
    margin: 0px;
    padding: 0px;
}

.meriiclass {
    background-color: rgb(3, 3, 43);
    width: 100%;
    text-align: center;
    color: white;
    height: 100px;
    line-height: 0;
}
.container{
    padding-top: 5px;
}
.myhome{
   display: flex;
   justify-content: center;
   text-align: justify;
    background-color: rgb(3, 3, 43);
    color: white;
    margin: 50px 0px; 
}
.paragrph{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    padding: 5%;
    font-family:Georgia, 'Times New Roman', Times, serif;
} 

.cnt-img {
    width: 100%;
}

.cnt-img img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
}

@media screen and (max-width: 460px) {
    .mission{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        font-family: 'Times New Roman', serif;
        padding: 0px 100px;
    }
    
    .mission h2{
        width: 100%;
    }
    
    .mission p{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .cnt-img {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .cnt-img img{
        width: 80%;
        height: 250px;
    }
    .myhome{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: justify;
         background-color: rgb(3, 3, 43);
         color: white;
         height: auto;
         width: 100%;
     }
     .paragrph{
        display: flex;
        flex-direction: column;
        justify-content: center ;
        padding: 5%;
        font-family:Georgia, 'Times New Roman', Times, serif;
    } 
    
    .footer{
        width: 100%;
        height: auto;
        background-color: rgb(3, 3, 43);
        color: white;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        font-family: 'Arial Narrow Bold';
        
    
    }
    .footer-col{
        width: 80%;
        color: white;
        padding: 0 25px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: rgb(3, 3, 43);
        background-color: white;
        margin: 0 10px 0;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        background-color: rgb(3, 3, 43);
        color: rgb(52, 112, 161);
    }

    .footer-col ul li {
        list-style: none;
        color: white;
        text-decoration: none;
    }
    
    .footer-col ul li a{
        color: white;
        text-decoration: none;
    }

    .myfooter {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
}
@media screen and (min-width: 361px) and (max-width: 600px) {}
@media screen and (min-width: 601px) and (max-width: 1024px) {}
